In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as snp

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
df[df['Loan_Status'] == 'Y'].head(2)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.4+ KB

In [42]:
for column in df:
        if df[column].isnull().sum() == 0:
            print('hi')
#             find_and_fill_missing_values(df.drop(column, axis=1))
#         elif df[column].dtype == 'object':
#             df[column].fillna(df[column].mode()[0], inplace=True)
#         else:
#             df[column].fillna(df[column].median()[0], inplace=True)

hi
hi
hi
hi
hi
hi

In [92]:
def find_and_fill_missing_values(data):
    for column in data:
        if data[column].isnull().sum() == 0:
            data = data.drop(column, axis=1)
            find_and_fill_missing_values(data)
        else data[column].dtype == 'object':
            data[column].fillna(data[column].mode()[0], inplace=True)
#         else :
#             data[column].fillna(data[column].median()[0], inplace=True)

SyntaxError: invalid syntax (<ipython-input-92-39453211c4ef>, line 6)

In [94]:
p = df.apply(find_and_fill_missing_values)

KeyError: ('LP001002', 'occurred at index Loan_ID')

In [91]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [ ]:
df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)
df['Married'].fillna(df['Married'].mode()[0], inplace=True)
df['Dependents'].fillna(df['Dependents'].mode()[0], inplace=True)
df['Self_Employed'].fillna(df['Self_Employed'].mode()[0], inplace=True)
df['LoanAmount'].fillna(df['LoanAmount'].median(), inplace=True)
df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].median(), inplace=True)
df['Credit_History'].fillna(df['Credit_History'].mode()[0], inplace=True)

In [ ]:
gender = pd.get_dummies(df['Gender'], drop_first=True)
married = pd.get_dummies(df['Married'], drop_first=True)
dependent = pd.get_dummies(df['Dependents'], drop_first=True)
self_employed = pd.get_dummies(df['Self_Employed'], drop_first=True)
loan_amount = pd.get_dummies(df['LoanAmount'], drop_first=True)
loan_amount_term = pd.get_dummies(df['Loan_Amount_Term'], drop_first=True)
credit = pd.get_dummies(df['Credit_History'], drop_first=True)
edu = pd.get_dummies(df['Education'], drop_first=True)
pa = pd.get_dummies(df['Property_Area'], drop_first=True)

In [ ]:
df = pd.concat([df, edu, pa, gender, dependent, married, self_employed, loan_amount, loan_amount_term, credit], axis=1)

In [ ]:
df.drop(['Property_Area', 'Education','Gender', 'Married', 'Dependents', 'Self_Employed', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History'], axis=1, inplace=True)

In [ ]:
df