In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as snp

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
df[df['Loan_Status'] == 'Y'].head(2)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y

In [5]:
df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)
df['Married'].fillna(df['Married'].mode()[0], inplace=True)
df['Dependents'].fillna(df['Dependents'].mode()[0], inplace=True)
df['Self_Employed'].fillna(df['Self_Employed'].mode()[0], inplace=True)
df['LoanAmount'].fillna(df['LoanAmount'].median(), inplace=True)
df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].median(), inplace=True)
df['Credit_History'].fillna(df['Credit_History'].mode()[0], inplace=True)

In [6]:
gender = pd.get_dummies(df['Gender'], drop_first=True)
married = pd.get_dummies(df['Married'], drop_first=True)
dependent = pd.get_dummies(df['Dependents'], drop_first=True)
self_employed = pd.get_dummies(df['Self_Employed'], drop_first=True)
loan_amount = pd.get_dummies(df['LoanAmount'], drop_first=True)
loan_amount_term = pd.get_dummies(df['Loan_Amount_Term'], drop_first=True)
credit = pd.get_dummies(df['Credit_History'], drop_first=True)
edu = pd.get_dummies(df['Education'], drop_first=True)
pa = pd.get_dummies(df['Property_Area'], drop_first=True)

In [7]:
df = pd.concat([df, edu, pa, gender, dependent, married, self_employed, loan_amount, loan_amount_term, credit], axis=1)

In [8]:
df.drop(['Property_Area', 'Education','Gender', 'Married', 'Dependents', 'Self_Employed', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History'], axis=1, inplace=True)

In [9]:
df

,Loan_ID,ApplicantIncome,CoapplicantIncome,Loan_Status,Not Graduate,Semiurban,Urban,Male,1,2,...,36.0,60.0,84.0,120.0,180.0,240.0,300.0,360.0,480.0,1.0
0,LP001002,5849,0.0,Y,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,1
1,LP001003,4583,1508.0,N,0,0,0,1,1,0,...,0,0,0,0,0,0,0,1,0,1
2,LP001005,3000,0.0,Y,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,1
3,LP001006,2583,2358.0,Y,1,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,1
4,LP001008,6000,0.0,Y,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,1
5,LP001011,5417,4196.0,Y,0,0,1,1,0,1,...,0,0,0,0,0,0,0,1,0,1
6,LP001013,2333,1516.0,Y,1,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,1
7,LP001014,3036,2504.0,N,0,1,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
8,LP001018,4006,1526.0,Y,0,0,1,1,0,1,...,0,0,0,0,0,0,0,1,0,1
9,LP001020,12841,10968.0,N,0,1,0,1,1,0,...,0,0,0,0,0,0,0,1,0,1
10,LP001024,3200,700.0,Y,0,0,1,1,0,1,...,0,0,0,0,0,0,0,1,0,1
11,LP001027,2500,1840.0,Y,0,0,1,1,0,1,...,0,0,0,0,0,0,0,1,0,1
12,LP001028,3073,8106.0,Y,0,0,1,1,0,1,...,0,0,0,0,0,0,0,1,0,1
13,LP001029,1853,2840.0,N,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
14,LP001030,1299,1086.0,Y,0,0,1,1,0,1,...,0,0,0,1,0,0,0,0,0,1
15,LP001032,4950,0.0,Y,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,1
16,LP001034,3596,0.0,Y,1,0,1,1,1,0,...,0,0,0,0,0,1,0,0,0,1
17,LP001036,3510,0.0,N,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
18,LP001038,4887,0.0,N,1,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
19,LP001041,2600,3500.0,Y,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,1
20,LP001043,7660,0.0,N,1,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
21,LP001046,5955,5625.0,Y,0,0,1,1,1,0,...,0,0,0,0,0,0,0,1,0,1
22,LP001047,2600,1911.0,N,1,1,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
23,LP001050,3365,1917.0,N,1,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,0
24,LP001052,3717,2925.0,N,0,1,0,1,1,0,...,0,0,0,0,0,0,0,1,0,1
25,LP001066,9560,0.0,Y,0,1,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
26,LP001068,2799,2253.0,Y,0,1,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
27,LP001073,4226,1040.0,Y,1,0,1,1,0,1,...,0,0,0,0,0,0,0,1,0,1
28,LP001086,1442,0.0,N,1,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,1
29,LP001087,3750,2083.0,Y,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,LP002911,2787,1917.0,N,0,0,0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
585,LP002912,4283,3000.0,N,0,0,0,1,1,0,...,0,0,1,0,0,0,0,0,0,1
586,LP002916,2297,1522.0,Y,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,1
587,LP002917,2165,0.0,Y,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
588,LP002925,4750,0.0,Y,0,1,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
589,LP002926,2726,0.0,N,0,1,0,1,0,1,...,0,0,0,0,0,0,0,1,0,0
590,LP002928,3000,3416.0,Y,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
591,LP002931,6000,0.0,N,0,1,0,1,0,1,...,0,0,0,0,0,1,0,0,0,1
592,LP002933,9357,0.0,Y,0,1,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
593,LP002936,3859,3300.0,Y,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
594,LP002938,16120,0.0,Y,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,1
595,LP002940,3833,0.0,Y,1,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
596,LP002941,6383,1000.0,N,1,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,1
597,LP002943,2987,0.0,N,0,1,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
598,LP002945,9963,0.0,Y,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
599,LP002948,5780,0.0,Y,0,0,1,1,0,1,...,0,0,0,0,0,0,0,1,0,1
600,LP002949,416,41667.0,N,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
601,LP002950,2894,2792.0,Y,1,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
602,LP002953,5703,0.0,Y,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,1
603,LP002958,3676,4301.0,Y,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
604,LP002959,12000,0.0,Y,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1
605,LP002960,2400,3800.0,N,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
606,LP002961,3400,2500.0,Y,0,1,0,1,1,0,...,0,0,0,0,0,0,0,1,0,1
607,LP002964,3987,1411.0,Y,1,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,1
608,LP002974,3232,1950.0,Y,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
609,LP002978,2900,0.0,Y,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
610,LP002979,4106,0.0,Y,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
611,LP002983,8072,240.0,Y,0,0,1,1,1,0,...,0,0,0,0,0,0,0,1,0,1
612,LP002984,7583,0.0,Y,0,0,1,1,0,1,...,0,0,0,0,0,0,0,1,0,1
613,LP002990,4583,0.0,N,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0